---
Checks: 'bugprone-*, performance-*, portability-*, clang-analyzer-*, modernize-*, readability-*, cppcoreguidelines-*, -modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFileExtensions: ['h', 'hh', 'hpp', 'hxx']
ImplementationFileExtensions: ['c', 'cc', 'cpp', 'cxx']
InheritParentConfig: true
...
